
.form {
  max-width: 40rem;
  margin: 0 auto;
}

.form>div {
  display: flex;
  flex-direction: column;
  margin: 0.75rem;
}

.form label {
  margin: 0.75rem 0;
}

input,
button {
  font-family: "Grand Hotel",
  cursive,
  sans-serif;
  padding: 0.75rem;
  border-radius: 0.75rem;
  border: 0.1rem #4e4d4d solid;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.shippingscreen {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  background-color: hsl(7, 100%, 98%);
  border-radius: 5rem;
  text-transform: uppercase;
  font-family: "Grand Hotel",
    cursive,
    sans-serif;
}

.shippingscreen:hover {
  background-color: #698f3f;
  color: rgb(252, 252, 252);
}
.shippingscreen_paym {
  cursor: pointer;
  width: 30%;
  padding: 0.75rem;
  background-color: hsl(7, 100%, 98%);
  border-radius: 4rem;
  text-transform: uppercase;
  font-family: "Grand Hotel",
    cursive,
    sans-serif;
}