* {
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Grand Hotel",
  cursive,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.8rem;
  padding: 0.5rem 0;
  color: #404040;
}

h2 {
  font-size: 1.6rem;
  padding: 0.5rem 0;
  color: #404040;
}
h3 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  color: #404040;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ffe44d;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

textarea {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Grand Hotel",
  cursive,
  sans-serif;
}
select {
  padding: 0.8rem;
  border-radius: 0.7rem;
  border: 0.1rem #b4b2b2 solid;
  font-size: 1.3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Grand Hotel",
    cursive,
    sans-serif;
}

select:hover,
textarea:hover{
  border: 0.1rem #404040 solid;
  background-color:hsl(7, 100%, 98%);
}
.min-30 {
  min-width: 20rem;
  color: #404040;
}
.pricing{
  width: 100%;
  height: 100%;
  background-color: hsl(7, 100%, 98%);
}

.pricing_header {
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
    text-align: center;
    padding: 2rem;
}

.pricing_plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pricing_plans_a,
.pricing_plans_b,
.pricing_plans_c {
  border: 0.2rem #f2faff solid;
  background-color: #7fe444;
  border-radius: 0.5rem;
  margin: 3rem;
  max-width: 27rem;
  min-width: 27rem;
  min-height: 20rem;
  text-transform: uppercase;
  box-shadow: 1px -7px 7px -6px rgba(0, 0, 0, 0.44);
}

.pricing_plans_a:hover,
.pricing_plans_b:hover,
.pricing_plans_c:hover {
  transform: translate(-1%, -1%);
}

.card_info_a,
.card_info_b, 
.card_info_c {
  padding: 2rem;
  border: 0.1rem solid rgb(255, 231, 231);
}

.button_pricing {
  margin: 1rem;
  position: center;
  padding: 1rem;
  border-radius: 0.7rem;
  border: 0.1rem rgb(9, 168, 9) solid;
  font-size: 1.3rem;
  font-family: "Grand Hotel",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(9, 168, 9);
  cursor: pointer;
  color: honeydew;
  text-transform: uppercase;
}
.button_pricing:hover {
    background-color:rgb(255, 255, 7);
    color: black;
    border: 0.1rem rgb(255, 255, 7) solid;
}

.star_pricing{
  color:  rgb(255, 255, 7);
  size: 2rem;
  margin-bottom: 0.5rem;
}

.row center {
  justify-content: center;
}
/* pricing description */
.pricing_container {
  background-color: hsl(7, 100%, 98%);
  width: 100%;
  height: 100%;
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pricing_links {
  width: 100%;
  max-width: 160rem;
  display: flex;
  justify-content: center;
}

.pricing_link_wrapper {
  display: flex;
}

.pricing_link_items {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  text-align: left;
  width: 29rem;
  box-sizing: border-box;
  border-left: 0.2rem solid rgb(139, 9, 226);
}

.pricing_link_items > h2 {
  margin-bottom: 0.7rem;
  border-bottom: 0.2rem solid rgb(139, 9, 226);
  border-top: 0.2rem solid rgb(139, 9, 226);
  width: 100%;
}

.pricing_link_items > h3 {
  font-size: 1.5rem !important;
  border-bottom: 0.1rem solid rgb(139, 9, 226);
  width: 100%;
  text-align: center;
  
}

.pricing_link_items > .MuiSvgIcon-root {
  color: rgb(54, 54, 248);
  font-size: 2.5rem !important;
  border-bottom: 0.1rem solid rgb(139, 9, 226);
  width: 100%;
  text-align: center;
  padding: 0.6rem 0;
}

@media screen and (max-width: 992px) {
  .pricing_links {
    padding-top: 1rem;
  }
  .pricing_link_wrapper {
    flex-direction: column;
  }
}

.loading {
  display: block !important;
}

.badge {
  background-color: #fccf6e;
  color: #fafafa;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}

button.primary {
  background-color: #f0c040;
}

button.block {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 10rem;
  width: 100%;
}

img.large {
  width: 100%;
}

.cardProduct {
  border: 0.25rem #698f3f solid;
  background-color: #fff2f2;
  border-radius: 0.5rem;
  margin: 1.5rem;
  border-bottom-right-radius: 80px;
}
.cardProduct:hover {
 box-shadow: lightgray;
 transform: scale(1.05);
}

.card {
  border: 0.5rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1.5rem;
}

.card-body {
  padding: 0.5rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

.mediumImage {
  padding: 1rem;
  max-height: 25rem;
  max-width: 17rem;
  width: 100%;
}

/* Alert */
.success {
  color: #20a020;
}

.danger {
  color: #a02020;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #bb3434;
  background-color: #ffe0e0;
}

/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.5rem #bb3434 solid;
  border-bottom: 0.5rem #bb3434 solid;
  color: #5c5c5c;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
  text-transform: uppercase;

}

@media screen and (max-width: 960px) {
  .checkout-steps>div{
      font-size: 0.8rem;
  }
}
.checkout-steps > div.active {
  border-top-color: #698f3f;
  border-bottom-color: #698f3f;
  color: #698f3f;
}

